In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
torrenty = pd.read_csv('torrenty_202106201241.csv')

In [3]:
torrenty.head()

,id,groupName,totalSnatched,artist,groupYear,releaseType,tag
0,0,superappin&#39;,239,grandmaster flash & the furious five,1979,single,1970s
1,1,superappin&#39;,239,grandmaster flash & the furious five,1979,single,funk
2,2,superappin&#39;,239,grandmaster flash & the furious five,1979,single,disco
3,3,rapper&#39;s delight,480,sugarhill gang,1979,single,1970s
4,4,rapper&#39;s delight,480,sugarhill gang,1979,single,new.york

In [4]:
torrenty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161283 entries, 0 to 161282
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             161283 non-null  int64
 1   groupName      161280 non-null  object
 2   totalSnatched  161283 non-null  int64
 3   artist         161278 non-null  object
 4   groupYear      161283 non-null  int64
 5   releaseType    161283 non-null  object
 6   tag            161270 non-null  object
dtypes: int64(3), object(4)
memory usage: 8.6+ MB

In [5]:
torrenty.describe()

                 id  totalSnatched      groupYear
count  161283.00000  161283.000000  161283.000000
mean    80641.00000     269.154883    2008.800140
std     46558.53607    1739.688642       6.975041
min         0.00000       0.000000    1979.000000
25%     40320.50000      11.000000    2005.000000
50%     80641.00000      29.000000    2011.000000
75%    120961.50000      93.000000    2014.000000
max    161282.00000   76457.000000    2016.000000

In [18]:
torrenty['tag'] = torrenty['tag'].astype(str)

In [20]:
torrenty_title_merged = torrenty.groupby(['artist', 'groupName']).agg({
    'totalSnatched': 'first', 
    'groupYear': 'first',
    'releaseType': 'first',
    'tag': (';').join}
)
torrenty_title_merged.head(2)

,,totalSnatched,groupYear,releaseType,tag
artist,groupName,,,,
!ll.martians,ill&#8203;.&#8203;martians ep [funraiser],8,2015,ep,instrumental;beats;lo.fi
!llmind,#boomtrap,20,2014,ep,instrumental

In [22]:
tag_dummies = pd.get_dummies(torrenty['tag'])
tag_dummies.head(1)

,12bit.hip.hop,16fever,1920s,1930s,1940s,1950s,1960s,1970s,1980s,1990s,...,zboub,zeckenrap,zelda,zimbabwe,zofingen,zone.6,zouk,zurich,zwolle,zydeco
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
torrenty_tag_split = torrenty.drop(['tag'], axis=1).join(tag_dummies)

In [27]:
torrenty_title_merged_1 = torrenty_tag_split.iloc[:,:6].groupby(['artist', 'groupName']).agg({
    'totalSnatched': 'first', 
    'groupYear': 'first',
    'releaseType': 'first'
})
torrenty_title_merged_2 = torrenty_tag_split.iloc[:,:].groupby(['artist', 'groupName']).agg({
    'max'
}).iloc[:,4:]

C:\Users\RAFAL_DELL\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,,totalSnatched,groupYear,releaseType,"(12bit.hip.hop, max)","(16fever, max)","(1920s, max)","(1930s, max)","(1940s, max)","(1950s, max)","(1960s, max)",...,"(zboub, max)","(zeckenrap, max)","(zelda, max)","(zimbabwe, max)","(zofingen, max)","(zone.6, max)","(zouk, max)","(zurich, max)","(zwolle, max)","(zydeco, max)"
artist,groupName,,,,,,,,,,,,,,,,,,,,,
!ll.martians,ill&#8203;.&#8203;martians ep [funraiser],8,2015,ep,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
!llmind,#boomtrap,20,2014,ep,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
torrenty_title_merged = torrenty_title_merged_1.join(torrenty_title_merged_2)
torrenty_title_merged.head(2)

In [28]:
torrenty_title_merged.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 59570 entries, ('!ll.martians', 'ill&#8203;.&#8203;martians ep [funraiser]') to ('ｏｌｄ ｍａｓｋ', 'track art')
Columns: 3680 entries, totalSnatched to ('zydeco', 'max')
dtypes: int64(2), object(1), uint8(3677)
memory usage: 213.2+ MB

In [37]:
torrenty_title_merged = torrenty_title_merged.reset_index()

Number of unique artists

In [45]:
torrenty_title_merged['artist'].unique().size

26809

Number of titles for an artist

In [47]:
torrenty_title_merged.groupby('artist').agg({'groupName': 'count'}).describe()

          groupName
count  26809.000000
mean       2.222015
std       33.189732
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max     5405.000000

Span of years for an artist

In [56]:
torrenty_title_merged.groupby('artist').agg({'groupYear': ['max', 'min']}).reset_index().apply(lambda x: int(x[1])-int(x[2]), axis=1).describe()

count    26809.000000
mean         1.501660
std          3.703218
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         35.000000
dtype: float64